*{margin:0;padding: 0;box-sizing: border-box;}
a{
    text-decoration: none;
    color: #333;
}
img{margin:0;padding:0;vertical-align: top;}
header{
    height: 180px;width:100%;
    .top{height:26px;background:#8EAB54;
        .top_main{width:1170px;margin:0 auto;
            .pull_left{float: left;
                span{color: #e9e9e9;font-size: 14px;display: inline-block;line-height: 26px;}
                img{margin-right: 10px;margin-top: -4px;vertical-align: middle;}
                &:nth-child(1){margin-right: 30px;}
            }
        }
    }
    .nav{padding-left: 0;margin-bottom: 0;list-style: none;padding: 47px 0;transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;position:relative;z-index: 99;background:#fff;width:100%;
        .container{width:1170px;margin:0 auto;
            .row{text-align: center;
                ul{margin: 0;display: inline-block;list-style: none;
                    li{width: 130px;height: 55px;line-height: 55px;float: left;text-align: center;
                        a{color: #595959;transition: all .3s ease;}
                        a:hover{color:#8EAB54;}
                    }
                }
            }
        }
    }
    .xs{position:fixed;box-sizing: border-box;top: -26px;box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;height:120px;}
}
.banner{
    width: 100%;
    height: auto;
    img{
        width: 100%;
        height: auto;
    }
}
.main{
    width: 100%;
    padding: 74px 0 0;
    .title{
        width: 1200px;
        margin: 200px auto 0;
        opacity: 0;
        text-align: center;
        h1{
            font: 27px/45px "microsoft yahei";
            color: #595959;
            text-align: center;
        }
        img{
            margin: 40px 0;
        }
    }
    .news-nav{
        width: 1200px;
        margin: 120px auto 90px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        opacity: 0;
        li{
            height: 30px;
            width: 80px;
            font: 14px/30px "microsoft yahei";
            text-align: center;
             color: #595959;
        }
        li:hover{
            background: #8EAB54;
            cursor: pointer;
                color: white;
        }
        li~li{
            margin-left: 40px;
        }
        .nav-current{
            background: #8EAB54;
           
              color: white;
        }
    }
    .news-main{
        width: 1200px;
        height: 630px;
        padding: 0 0 170px;
        margin: 0 auto;
        overflow: hidden;
        ul{
            width:400%;
            height:100%;
            list-style: none;
            .first-li{
                ul{
                    li{
                        .left{
                            margin-left: -600px;
                            opacity: 0;
                         }
                         .right{
                           margin-right: -600px;
                           opacity: 0;
                         }
                    }
                }
            }
            li{
                width: 25%;
                height: 100%;
                float: left;
                ul{
                    list-style: none;
                    width: 1200px;
                    height: 100%;
                   
                    li{
                        width: 100%;
                        height: 210px;
                        .left{
                            width: 260px;
                            height: 100%;
                            float: left;
                            position: relative;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            .leaf{
                                transition: all 1s;
                                width: 54px;
                                height: 54px;
                                position: absolute;
                                top: 40%;
                                left: 40%;
                                opacity: 0;
                                transform-style: preserve-3d;
                                perspective: 800px;
                            }
                        }
                        .right{
                            float: right;
                            width: 900px;
                            height: 210px;
                            text-align: left;
                            padding: 15px 0 40px;
                            h6{
                                font: 18px/30px "microsoft yahei";
                                color: #595959;
                                margin-bottom: 0px;
                            }
                            span{
                                font: 14px/30px "microsoft yahei";
                                color: #D7D7D7;
                            }
                            div{
                                margin-top: 5px;
                                position: relative;
                                height: 5px;
                                width: 100%;
                                div{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 5px;
                                    width: 30px;
                                    background: #819C4C;
                                    margin: 0;
                                    transition: all 1s;
                                }
                                p{
                                    height: 1px;
                                    background: #D7D7D7;
                                    position: absolute;
                                    top: 2px;
                                    width: 100%;
                                    margin: 0;
                                }
                            }
                           .text{
                                width: 100%;
                                margin: 20px 0;
                                font: 15px/25px "microsoft yahei";
                                color: #AFAFAF;
                            }
                        }
                    }
                    li~li{
                        margin-top: 40px;
                    }
                     li:hover{
                        .left{
                            .leaf{
                                transform: rotateY(540deg);
                                opacity: 1;
                            }
                        }
                        .right{
                            div{
                                div{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.coopration{
    width: 100%;
    height: 280px;
    background:#819C4C;
    overflow: hidden;
    .co-container{
        width: 1200px;
        margin: 0 auto;
        .co-left{
            float: left;
            margin-left: -1000px;
            opacity: 0;
            ul{
               list-style: none;
               float: left;
               padding-top: 20px;
               margin: 0 100px 0;
               opacity: 0;
               div{
                   font: 18px/40px "microsoft yahei";
                   height: 40px;
                   color: white;
               }
               li{
                    font: 15px/30px "microsoft yahei";
                   height: 30px;
                   color: #cfcfcf;
                   
               } 
               li:hover{
                   color: white;
                   cursor: pointer;
               }
            }
        }
        .co-right{
            padding-top:65px;
            float: right;
            margin-right: -1000px;
            opacity: 0;
            h1{
                color: white;
                font-size: 30px;
                height: 60px;
            }
            p{
                font: 14px/20px "microsoft yahei";
                color: #cfcfcf;
                width: 210px;
                text-align: right;
            }
        }
    }
}

footer{height: 52px;width: 100%;color: #999999;font-size: 12px;line-height: 52px;background: #595959;overflow: hidden;
    .container{width:1170px;margin:0 auto;overflow:hidden;
        .row{height:52px;line-height: 52px;margin-top: 52px;
            .left{float:left;
                ul{list-style: none;line-height: 52px;
                    li{float:left;
                        a{color: #8C8C8C;font-size: 12px;border-right: 1px solid #999;display: inline-block;padding-right: 12px;line-height: 12px;padding-left: 12px;}
                    }
                }
            }
            .right{float:right;}
        }
    }
}