*{
    padding: 0;
    margin:0;
}
.fourT{
    margin-top:50px;
width:100%;
height:300px;
.fourTb{
    width:900px;
    height:300px;
    margin: 0 auto;
    .Fone{
        
        float: left;
        width:600px;
        height:300px;
        .FoneT{
            width:600px;
            height:50px;
            img{
                width:120px;
               height:50px;
               float: left;
            }
            $bg:#9b0000;
            h3{
                float: left;
                width:110px;
                height:50px;
                font-size:16px;
                text-align: center;
                 line-height:50px;
                font-weight:normal;
                border-bottom:3px solid $bg ;
                box-sizing:border-box;
            }
             
          
        }
    }
    .Ftwo{
        float: right;
        width:260px;
        height:300px;
        padding-left:30px;
        img{
            width:180px;
            height:220px;
        }
    }
}
}

.FourB{
                float:left;
                width:600px;
                height:240px;
                 z-index:100;
//              color:red!important;!important:加大权重值；
                ul{
                    float: left;
                    padding-top:40px;
                    width:150px;
                    height:200px;
                     font-size:12px;
                    text-align: center;
                    li{
                        margin-bottom:20px;
                        cursor: pointer;
                    }
                }
            }