*{
    margin:0;
    padding:0;
}
.body{
    width: 100%;
    height:600px;
    margin-top: 60px;
    .gaiK{
        position: relative;
        width:900px;
        height:600px;
        margin:0 auto;
        .gaiK_top{
            width:600px;
            height:50px;
            margin-bottom:30px;
  .font{
      float: left;
      width:600px;
      height:500px;
         
  }
            img{
                width:130px;
                height:50px;
                float: left;
            }
            span{
            display: inline-block;
            box-sizing: border-box;
            width:110px;
            height:50px;
            font-size:18px;
            text-align: center;
            line-height: 50px;
            float: left;
            border-bottom:3px solid #8c0000;
            }
        }
    }
}
.gaiK .font p{
    font-size:12px;
    width:600px;
    text-indent:2em;
}
.im{
    position: absolute;
    top:0;
    right:80px;
    float: right;
      width:160px;
        height:200px;
  
}
